<style>
    td {
        font-size: 12px !important
    }
</style>
<div bsModal #previewInformationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="detailBookingModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" role="document" style="max-width: 1200px;">
        <div class="modal-content">
            <form class="m-form m-form--fit m-form--label-align-right">
                <div class="modal-header custom">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Preview - Project Information
                    </h5>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
						<span aria-hidden="true">
                            &times;
                        </span>
					</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group m-form__group row">
                                <div class="col-lg-12">
                                    <div class="m-portlet__head-title" style="margin-bottom:10px">
                                        <h3 class="m-portlet__head-text" style="margin-bottom:0">
                                            Description
                                        </h3>
                                        <small class="m-form__help">
                                            Detailed description of this project
                                        </small>
                                    </div>
                                    <small class="m-form__help" [innerHtml]="values.projectDesc"></small>
                                </div>
                                <div class="col-lg-6">
                                    <div class="m-portlet__head-title" style="margin-bottom:10px">
                                        <h3 class="m-portlet__head-text" style="margin-bottom:0">
                                            Property Detail
                                        </h3>
                                        <small class="m-form__help">
                                            How this property is built
                                        </small>
                                    </div>
                                    <label style="margin-bottom:0">Developer</label>
                                    <br>
                                    <small class="m-form__help" [innerHtml]="values.projectDeveloper"></small>
                                    <br>
                                    <br>
                                    <label style="margin-bottom:0">Website</label>
                                    <br>
                                    <small class="m-form__help">
														<a href="{{values.projectWebsite}}">{{values.projectWebsite}}</a>
													</small>
                                </div>
                                <div class="col-lg-6">
                                    <div class="m-portlet__head-title" style="margin-bottom:10px">
                                        <h3 class="m-portlet__head-text" style="margin-bottom:0">
                                            Marketing Office
                                        </h3>
                                        <small class="m-form__help">
                                            Member can contact through this
                                        </small>
                                    </div>
                                    <label style="margin-bottom:0">Phone</label>
                                    <br>
                                    <small class="m-form__help">
															<a href="tel:{{values.projectMarketingPhone}}">{{values.projectMarketingPhone}}</a>
														</small>
                                    <br>
                                    <br>
                                    <label style="margin-bottom:0">Office</label>
                                    <br>
                                    <small class="m-form__help" [innerHtml]="values.projectMarketingOffice"></small>
                                </div>
                                <div class="col-lg-12">
                                    <div class="m-portlet__head-title" style="margin-bottom:10px">
                                        <h3 class="m-portlet__head-text" style="margin-bottom:0">
                                            Key Features
                                        </h3>
                                        <small class="m-form__help">
                                            Each features of this project
                                        </small>
                                    </div>
                                    <span *ngFor="let keyFeaturesDetail of values.keyFeaturesDetail">
																		<span class="m-badge m-badge--brand m-badge--wide m-btn--square" style="margin-top: 3px !important">{{keyFeaturesDetail.keyFeatures}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="m-portlet__head-title" style="margin-bottom:10px">
                                <h3 class="m-portlet__head-text" style="margin-bottom:0">
                                    Tower / Cluster
                                </h3>
                                <small class="m-form__help">
                                    List tower of this project
                                </small>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Tower / Cluster Code</th>
                                        <th>Tower / Cluster Name</th>
                                        <th>Status</th>
                                        <th>Active Start</th>
                                        <th>Active End</th>
                                        <th>Priority Pass</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let towerDetail of values.towerDetail">
                                        <td>{{towerDetail.clusterCode}}</td>
                                        <td>{{towerDetail.cluesterName}}</td>
                                        <td>{{towerDetail.isActive == true ? 'Active' : 'Inactive'}}</td>
                                        <td>{{towerDetail.activeFrom.format("DD MMM YYYY")}}</td>
                                        <td>{{towerDetail.activeTo.format("DD MMM YYYY")}}</td>
                                        <td>{{towerDetail.isRequiredRP == true ? 'Active' : 'Inactive'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="m-portlet__head-title" style="margin-bottom:10px">
                                <h3 class="m-portlet__head-text" style="margin-bottom:0">
                                    Social Media
                                </h3>
                                <small class="m-form__help">
                                    Use social media to expand the network
                                </small>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Social Media</th>
                                        <th>Social Media Link</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let socialDetail of values.socialDetail">
                                        <td>{{socialDetail.socialMediaName}}</td>
                                        <td>
                                            <a href="{{socialDetail.socialMediaLink}}">{{socialDetail.socialMediaLink}}</a>
                                        </td>
                                        <td>{{socialDetail.isActive == true ? 'Active' : 'Inactive'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer m-form__actions m-form__actions--solid">
                    <button type="button" class="btn btn-metal" (click)="close()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>