<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto col-sm-6">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Social Media
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="" class="m-nav__link m-nav__link--icon">
                            <i class="m-nav__link-icon la la-home"></i>
                        </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="app/main/dashboard" class="m-nav__link">
                            <span class="m-nav__link-text">
                                    Web Online Booking Admin
                            </span>
                        </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a class="m-nav__link">
                            <span class="m-nav__link-text">
                                Social Media
                            </span>
                        </a>
                </li>
            </ul>
        </div>
        <div class="col-sm-6 text-right">
            <button (click)="socialModalAdd.show()" class="btn btn-primary m-btn m-btn--icon text-right ng-tns-c9-7 ng-star-inserted" style="">
                <i class="la la-plus"></i>Create New Social Media
            </button>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__body">           
            <div class="row">
                <div class="col-sm-9">
                    <div class="form-group m-form__group row align-items-center">
                        <div class="col-sm-6">
                            <div class="m-input-icon m-input-icon--left">
                                <input autocomplete="off" id="filterInput" #gf type="text" class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                <span class="m-input-icon__icon m-input-icon__icon--left"><span><i class="la la-search"></i></span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 align-right text-right">
                    <button type="button" class="btn btn-accent m-btn--icon" (click)="getLatestList()"><i class="la la-refresh"></i> {{l("Refresh")}}</button>
                </div>
            </div>    
            <div class="row align-items-center">
                <div class="primeng-datatable-container" [busyIf]="primengDatatableHelper.isLoading">
                    <p-dataTable [value]="primengDatatableHelper.records" [lazy]="false" [globalFilter]="gf" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,20,50,100]" [totalRecords]="primengDatatableHelper.totalRecordsCount">
                       <p-column header="No." [sortable]="false" [style]="{'width':'80px', 'text-align':'center'}">
                            <ng-template let-rowIndex="rowIndex" pTemplate="body">
                                {{ rowIndex+1 }}
                            </ng-template>
                        </p-column>
                        <p-column field="socialMediaName" header="Name" [sortable]="false">
                            <ng-template let-record="rowData" pTemplate="body">
                                {{ record.socialMediaName }}
                            </ng-template>
                        </p-column>

                        <!-- INI DIPAKEK KETIKA UPLOAD BELUM BISA YA GUYS -->
                        <p-column field="icon" header="Icon" [sortable]="false" [style]="{'width':'90px'}">
                            <ng-template let-record="rowData" pTemplate="body">
                                <img src="{{record.socialMediaIcon}}" style="display:inline-block;margin:2px 0 2px 2px" width="48">
                            </ng-template>
                        </p-column>
                        <p-column field="isActive" header="Status" [sortable]="false">
                            <ng-template let-record="rowData" pTemplate="body">
                                <span *ngIf="record.isActive" class="m-badge m-badge--info m-badge--wide"
                                    data-toggle="tooltip" title="{{l('ThisRecordIsActive')}}"
                                    data-placement="top">
                                    {{l('Yes')}}
                                </span>
                                <span *ngIf="!record.isActive" class="m-badge m-badge--metal m-badge--wide"
                                data-toggle="tooltip" title="{{l('ThisRecordIsInactive')}}" data-placement="top">
                                        {{l('No')}}
                                </span>
                            </ng-template>
                        </p-column>
                        <p-column field="" header="Actions" [sortable]="false" [style]="{'width':'130px','text-align':'center'}">
                            <ng-template let-record="rowData" pTemplate="body">
                                <div class="btn-group dropdown">
                                    <button class="dropdown-toggle btn btn-brand btn-sm dropdown-toggle btn-primary" data-toggle="dropdown" tooltip="{{l('Actions')}}" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a (click)="socialModalEdit.show(record)">Edit</a>
                                        </li>
                                        <li>
                                            <a (click)="deleteSocial(record)">Delete</a>
                                        </li>
                                    </ul>
                                </div>
                            </ng-template>
                        </p-column>
                    </p-dataTable>
                    
                    <div class="primeng-paging-container">
                    <!-- <p-paginator rows="{{primengDatatableHelper.defaultRecordsCountPerPage}}" #paginator (onPageChange)="taskListEvent($event)"
                        [totalRecords]="totalRecordsCountt"></p-paginator> -->
                    <!-- <span class="total-records-count">
                            <span class="label m-badge m-badge--primary m-badge--wide">
                                Total ({{totalRecordsCountt}})
                            </span>
                    </span> -->
                    </div>
                </div>
                <div class="form-group m-form__group row" style="margin: 0px;">
                    <span class="total-records-count">
                        <span class="label m-badge m-badge--primary m-badge--wide">
                                Total ({{primengDatatableHelper.totalRecordsCount}})
                        </span>
                    </span>
                </div>
                <!--<Primeng-Datatable-End>-->
            </div>
        </div>
    </div>
    <socialModalAdd #socialModalAdd (modalSave)="getLatestList()"></socialModalAdd>
    <socialModalEdit #socialModalEdit (modalSave)="getLatestList()"></socialModalEdit>
</div>
