<style>
    .red {
        box-shadow: 0px 0px 2px 2px red;
    }
</style>
<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form role="form" novalidate class="m-form m-form--fit m-form--label-align-right form-validation">
                <div class="modal-header custom">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Edit Project
                    </h5>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">
                            &times;
                        </span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group m-form__group row">
                        <div class="col-lg-6">
                            <label for="projectCode">
                                Project Code
                            </label>
                            <div class="m-input-icon m-input-icon--left">
                                <input id="projectCode" class="form-control m-input" type="text" placeholder="Enter project code" [value]="projectCode" readonly>
                                <span class="m-input-icon__icon m-input-icon__icon--left">
                                <span>
                                    <i class="la la-building"></i>
                                </span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label for="projectName">
                                Project Name
                            </label>
                            <div class="m-input-icon m-input-icon--left">
                                <input id="projectName" class="form-control m-input" type="text" placeholder="Enter project name" [value]="projectName" readonly>
                                <span class="m-input-icon__icon m-input-icon__icon--left">
                                <span>
                                    <i class="la la-building-o"></i>
                                </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-6">
                            <label for="activeFrom">
                                Active Start Date
                            </label>
                            <div class="m-input-icon m-input-icon--left">
                                <input id="activeFrom" (selectedDateChange)="onSelectedDate($event, 'start')" [(ngModel)]="model.activeFrom" 
                                    datePicker="datepicker" #ActiveFromDatePicker name="ActiveFromDatePicker" class="form-control" placeholder="Example: MM/DD/YYYY"
                                    required readonly>

                                <span class="m-input-icon__icon m-input-icon__icon--left">
                                <span>
                                    <i class="la la-calendar"></i>
                                </span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label for="activeEnd">
                                Active End Date
                            </label>
                            <div class="m-input-icon m-input-icon--left">
                                <input id="activeEnd" (selectedDateChange)="onSelectedDate($event, 'end')" [(ngModel)]="model.activeTo" 
                                    datePicker="datepicker" #ActiveToDatePicker name="ActiveToDatePicker" class="form-control" placeholder="Example: MM/DD/YYYY"
                                    required readonly>

                                <span class="m-input-icon__icon m-input-icon__icon--left">
                                <span>
                                    <i class="la la-calendar"></i>
                                </span>
                                </span>
                            </div>
                            <span class="m-form__help text-danger" *ngIf="invalidBirthdate">Active End Date should not be greater than Active Start Date</span>
                        </div>
                    </div>

                    <div class="form-group m-form__group row">
                        <div class="col-lg-6">
                            <label>
                                Status
                            </label>
                            <div class="m-checkbox-list">
                                <label class="m-checkbox">
                                    <input id="status" type="checkbox" name="projectStatus"
                                           [(ngModel)]="model.projectStatus">
                                    <div>
                                        Active
                                    </div>
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label>
                                    Buy PP By &nbsp;&nbsp;
                                </label>
                            <div class="m-checkbox-inline">
                                <label class="m-checkbox">
                                        <input name="order" value="sales" type="checkbox" checked>
                                        Sales
                                        <span></span>
                                    </label>
                                <label class="m-checkbox">
                                        <input name="order" value="customer" type="checkbox">
                                        Customer
                                        <span></span>
                                    </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer m-form__actions m-form__actions--solid">
                    <button [disabled]="saving" type="button" class="btn btn-metal" (click)="close()">
                        {{l("Cancel")}}
                    </button>
                    <button type="submit" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" class="btn btn-primary"
                        (click)="save()">
                        <span>Update Project</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>