<p-panel>
    <p-header>
        <div class="ui-helper-clearfix">
            <span class="ui-panel-title" style="font-size:16px;font-weight:bold;display:inline-block;margin-top:2px">Site Plan</span>
            <span class="ui-panel-title pnl-cls">                
                <label class="m-checkbox m-checkbox--square">
                    <input (change)="siteplanChanged()" value="true" [(ngModel)]="show_siteplan" type="checkbox">
                    Show in main page?
                    <span></span>
                </label>
            </span>
        </div>
    </p-header>        
    <form class="m-login__form m-form selection-form" [formGroup]="selectionForm">
                <div class="form-group m-form__group row">
                    <label for="legend" class="col-sm-2 col-form-label">Images <i class="text-danger">*</i> </label>
                    <div class="col-sm-10">
                        <input  (ngModelChange)="siteplanChanged()" type="file" class="form-control" fileUpload formControlName="images" [options]="optionsFile" (pictureUrl)="pictureUrl($event)"
                            (onAfterFileUpload)="imgUploaded($event)" name="file" />
                        <span class="m-form__help">
                                You can upload JPG/JPEG/PNG file, with maximum file size 1 MB.
                        </span>
                        <div class="col-2 row" *ngIf="uploadedFileNamePastSrc !== '-' || uploadedFileName !== '-'">
                            <img style="max-height:100px;width:auto" src="{{uploadedFileNamePastSrc}}" />
                        </div>               
                        <div class="row" style="margin-top:5px;margin-bottom:5px" class="col-2 row" *ngIf="uploadedFileNamePastSrc != null || uploadedFileName !== null">
                                <button (click)="delImage()" class="btn btn-danger" style="padding:5px"><i class="fa fa-trash"></i>Remove File</button>
                        </div>
                    </div>
                </div>
    </form>
</p-panel>

<detailSiteplanModal #detailSiteplanModal></detailSiteplanModal>